<section>
  <h2>Dettaglio Studente</h2>

  @if (studente) {
    <div>
      <p><strong>ID:</strong> <span>{{ studente.id }}</span></p>
      <p><strong>Matricola:</strong> <span>{{ studente.matricola }}</span></p>
      <p><strong>Nome:</strong> <span>{{ studente.nome }}</span></p>
      <p><strong>Cognome:</strong> <span>{{ studente.cognome }}</span></p>
      <p><strong>Data di nascita:</strong> <span>{{ studente.dataNascita }}</span></p>
      <p><strong>Codice Fiscale:</strong> <span>{{ studente.codiceFiscale }}</span></p>
      <p><strong>Sesso:</strong> <span>{{ studente.sesso }}</span></p>
      <p><strong>Email:</strong> <span>{{ studente.recapito?.email }}</span></p>
      <p><strong>Telefono:</strong> <span>{{ studente.recapito?.telefono }}</span></p>
      <p><strong>Indirizzo:</strong> <span>{{ studente.recapito?.indirizzo }}</span></p>
      <p><strong>Comune:</strong> <span>{{ studente.recapito?.comune }}</span></p>
      <p><strong>CAP:</strong> <span>{{ studente.recapito?.cap }}</span></p>

    </div>
  }

 <div class="subscription-section">
    <h3>Gestione Iscrizione Corsi</h3>

    @if (listaIscrizioni.length > 0) {
      <div class="active-course-box">
        <h4>Corso Frequentato</h4>
        <p><strong>Codice Corso:</strong> <span>{{ listaIscrizioni[0].corso?.codice }}</span></p>
        <p><strong>Nome Corso:</strong> <span>{{ listaIscrizioni[0].corso?.nome }}</span></p>
        <p><strong>Anno Accademico:</strong> <span>{{ listaIscrizioni[0].annoAccademico }}</span></p>
        <p>
       <strong>Stato Domanda:</strong> 
       <span class="badge-status">{{ listaIscrizioni[0].stato }}</span>
  
       <select 
              [(ngModel)]="statoSelezionato" 
              (change)="modificaStato()"
              style="margin-left: 10px; padding: 4px 8px; border-radius: 6px; border: 1px solid #cbd5e1; font-size: 0.85rem; color: #475569; background-color: #f8fafc; outline: none; cursor: pointer;"
            >
              <option value="" disabled selected> Modifica Stato</option>
              <option value="BOZZA">BOZZA</option>
              <option value="PRESENTATA">PRESENTATA</option>
              <option value="APPROVATA">APPROVATA</option>
              <option value="RESPINTA">RESPINTA</option>
              <option value="RINUNCIATA">RINUNCIATA</option>
            </select>
      </div>
      <div><button type="button" (click)="modificaStato()" class="btn-toggle">Aggiorna Stato</button></div>
    } 
    
    @else {
      <div class="empty-subscription">
        <p> Nessuna iscrizione attiva per questo studente.</p>
        <button type="button" (click)="toggleRicerca()" class="btn-toggle">
          {{ mostraBarraRicerca ? 'CHIUDI FORM' : ' ISCRIVI A UN CORSO' }}
        </button>
      </div>
    }
  </div>
  @if (mostraBarraRicerca) {
    <div class="search-sidebar">
      <h3>Nuova Iscrizione</h3>
      
      <form (ngSubmit)="eseguiRicerca()">
        
        <div class="sidebar-field">
          <label>Scegli Corso</label>
          <select [(ngModel)]="filtri.idCorso" name="idCorso" required>
            <option value="" disabled selected>-- Seleziona --</option>
            @for (corso of listaCorsi; track corso.idCorso) {
              <option [value]="corso.idCorso">{{corso.nome}}</option>
            }
          </select>
        </div>

        <div class="sidebar-field">
          <label>Anno Accademico</label>
          <input type="text" [(ngModel)]="filtri.annoAccademico" name="annoAccademico">
        </div>

      <div class="sidebar-field">
        <label>Stato Iscrizione</label>
        <select [(ngModel)]="filtri.stato" name="stato" required>
        <option value="" disabled>-- Stato --</option>
       <option value="BOZZA">BOZZA</option>
        <option value="PRESENTATA">PRESENTATA</option>
        <option value="APPROVATA">APPROVATA</option>
        <option value="RESPINTA">RESPINTA</option>
        <option value="RINUNCIATA">RINUNCIATA</option>
        </select>
      </div>

        <div class="sidebar-field">
          <label>Data Iscrizione</label>
          <input type="date" [(ngModel)]="filtri.dataIscrizione" name="dataIscrizione">
        </div>

        <div class="sidebar-actions">
          <button type="submit" class="btn-filter">CONFERMA</button>
          <button type="button" class="btn-reset" (click)="resetFiltri()">RESET</button>
        </div>

      </form>
    </div>
  }

  <a routerLink="/studenti">Torna alla lista studenti</a>
</section>